* {
  all: initial;
  font-family:
    Roboto,
    JetbrainsMono NF;
  font-size: 13px;
  font-weight: 500;
  min-height: 0;
}

@import "themes/catppuccin.css";

window#waybar {
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
}

#pulseaudio:hover {
  background-color: @pink;
  opacity: 0.8;
}

#workspaces button {
  border-bottom: 3px solid transparent;
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  padding: 0px 14px 0px 14px;
}

#workspaces button.empty label {
  color: @gray;
}

#workspaces button.active {
  border-bottom: 3px solid @purple;
}

#workspaces button:hover {
  background-color: @pink;
  opacity: 0.8;
}
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mode {
  background-color: @gray;
  box-shadow: inset 0 -3px @white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
  padding: 0 5px 0 5px;
}

#clock {
  color: @text;
  border-bottom: 2px solid @yellow;
}

@keyframes blink {
  to {
    background-color: @white;
    color: @background;
  }
}

label:focus {
  background-color: @background;
}

#cpu {
  color: @text;
  border-bottom: 2px solid @green;
}

#memory {
  color: @text;
  border-bottom: 2px solid @blue;
}

#disk {
  color: @text;
  border-bottom: 2px solid @yellow;
}

#bluetooth {
  color: @text;
  border-bottom: 2px solid @gray;
}
#network {
  color: @text;
  border-bottom: 2px solid @pink;
}

#network.disconnected {
  color: @text;
}

#pulseaudio {
  color: @text;
  border-bottom: 2px solid @orange;
}

#pulseaudio.muted {
  color: @text;
}

#wireplumber {
  color: @text;
}

#wireplumber.muted {
  color: @text;
}

#tray {
  color: @text;
  border-bottom: 2px solid transparent;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

tooltip {
  color: @text;
  background-color: @background;
  text-shadow: none;
}

tooltip * {
  color: @text;
  text-shadow: none;
}
