* {
    font-family: Roboto, JetbrainsMono NF;
    font-size: 12px;
    min-height: 0;
    font-weight: 500;
}

@import 'themes/dracula.css';

window#waybar {
    background-color: @base;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #f8f8f2;
}

#pulseaudio:hover {
    background-color: #ff79c6;
}

#workspaces {
    color: #f8f8f2;
}

#workspaces label {
  font-size: 13px;
  font-weight: bold;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button {
    color: @white;
    border-bottom: 3px solid transparent;
    border-radius: 0;
}

#workspaces button.active {
    color: @white;
    border-bottom: 3px solid @purple;
}

#workspaces button:hover {
    background-color: @background;
}

#workspaces button.empty {
 color: @gray;
}

#mode {
    background-color: #44475a;
    box-shadow: inset 0 -3px #f8f8f2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray {
    padding: 0 5px 0 5px;
}

#clock {
    color: @white;
    border-bottom: 2px solid @yellow;
}

@keyframes blink {
    to {
        background-color: #f8f8f2;
        color: #282a36;
    }
}

label:focus {
    background-color: #282a36;
}

#cpu {
    color: @white;
    border-bottom: 2px solid @green;
}

#memory {
    color: @white;
    border-bottom: 2px solid @blue;
}

#disk {
    color: @white;
    border-bottom: 2px solid @yellow;
}

#network {
    color: @white;
    border-bottom: 2px solid @pink;
}

#network.disconnected {
    color: @white;
}

#pulseaudio {
    color: @white;
    border-bottom: 2px solid @orange;
}

#pulseaudio.muted {
    color: @white;
}

#wireplumber {
    color: @white;
}

#wireplumber.muted {
    color: @white;
}

#tray {
    color: @white;
    border-bottom: 2px solid transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff5555;
}

