* {
  all: initial;
  font-family:
  Adwaita Sans,
  sans-serif,
  JetbrainsMono NF;
  font-size: 13px;
  font-weight: 500;
  min-height: 0;
}

@import "../themes/default.css";

window#waybar {
  background-color: @bar;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
}

#pulseaudio:hover {
  color: @base;
  background-color: @yellow;
  opacity: 0.8;
}

#workspaces button {
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 14px 1px 14px;
  margin: 0 2px 0 2px;
}

#workspaces button.active {
  background-color: @pblack;
  border-radius: 5px;
  border: 1px solid @text;
}

#workspaces button:hover {
  border-radius: 5px;
  border: 1px solid @pink;
}

#workspaces button:hover label {
  color: white;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mode {
  background-color: @gray;
  box-shadow: inset 0 -3px @white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-text_cpu,
#custom-text_wlan,
#custom-text_mem,
#custom-text_cal,
#custom-text_pulseaudio,
#tray {
  padding: 0 5px 0 5px;
}

#clock {
  color: @orange;
}

@keyframes blink {
  to {
    background-color: @white;
    color: @background;
  }
}

label:focus {
  background-color: @background;
}

#cpu {
  color: @purple;
}

#memory {
  color: @pink;
}

#disk {
  color: @text;
}

#bluetooth {
  color: @text;
}
#network {
  color: @green;
}

#network.disconnected {
  color: @text;
}

#pulseaudio {
  color: @yellow;
}

#pulseaudio.muted {
  color: @yellow;
}

#wireplumber {
  color: @yellow;
}

#wireplumber.muted {
  color: @yellow;
}

#tray {
  color: @text;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

tooltip {
  color: @text;
  background-color: @background;
  text-shadow: none;
  border: 1px solid @pink;
}

#custom-text_cpu {
	background-color: @purple;
	color: @base
}

#custom-text_wlan {
	background-color: @green;
	color: @base
}
#custom-text_mem {
	background-color: @pink;
	color: @base
}
#custom-text_cal {
	background-color: @orange;
	color: @base
}
#custom-text_pulseaudio {
	background-color: @yellow;
	color: @base
}
#window,
#workspaces {
    margin: 0 40px;
}
