* {
  background: #1e1e2e;
  foreground: #bac2de;

  black: @background;
  red: #f38ba8;
  green: #a6e3a1;
  pink: #f5c2e7;
  yellow: #f9e2af;
  blue: #89b4fa;
  purple: #cba6f7;
  aqua: #94e2d5;
  white: #cdd6f4;
  orange: #fab387;
  identifier: #b8bb26;
  statement: #f38ba8;
  comment: #7f849c;
  type: #a6e3a1;
  special: #f5c2e7;

  accent: @pink;
  background-color: #1e1e2e;
  border-radius: 5px;
}

