* {
  background: #2e3440;
  foreground: #eceff4;

  black: #2e3440;
  red: #bf616a;
  green: #a3be8c;
  yellow: #ebcb8b;
  blue: #5e81ac;
  purple: #b48ead;
  aqua: #7f849c;
  white: #eceff4;
  comment: #7f849c;
  orange: #d08770;
  accent: @blue;
  
  background-color: #2e3440;
  border-radius: 5px;
}

